services:
  db_test:
    image: postgres:14
    container_name: postgres_test
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  api_test:
    build:
      context: .
      target: development
    container_name: hih_api_test
    command: tail -f /dev/null 
    environment:
      - PORT=${PORT}
      - NODE=${NODE_ENV}
    depends_on:
      db_test:
        condition: service_healthy
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules