services:
  db:
    image: postgres:14
    # restart: always
    container_name: postgres_dev
    env_file:
      - .env.dev

    healthcheck:
      test: ["CMD-SHELL"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  api:
    build:
      context: .
      target: development
    container_name: hih_api_dev
    command: npm run start:dev
    environment:
      - PORT=${PORT}
      - NODE_ENV=development
    env_file:
      - .env.dev
    ports:
      - "8080:8080"
      - "9229:9229"
    depends_on:
      db:
          condition: service_healthy
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    profiles:
      - dev
  
  pgadmin:
    image: dpage/pgadmin4
    # restart: always
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: