services:
  db_prod:
    image: postgres:14
    container_name: postgres_prod
    restart: always
    env_file:
      - .env.prod
    volumes:
      - postgres_prod_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
  
  api_prod:
    build:
      context: .
      target: production
    container_name: hih_api_prod
    # restart: always
    command: node dist/main
    env_file:
      - .env.prod
    depends_on:
      db_prod:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
    profiles:
      - prod

volumes:
  postgres_prod_data:
  logs: