name: Docker Compose CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10 
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3


    # 1. SETUP ENV & KEYS
    - name: Create Config Files & Keys
      run: |
        echo "${{ secrets.ENV_TEST_FILE }}" > .env.test
        mkdir -p keys
        echo "${{ secrets.PUBLIC_KEY }}" > keys/public.pem
        echo "${{ secrets.PRIVATE_KEY }}" > keys/private.pem

    # 2. CACHING
    - name: Cache Docker layers
      uses: actions/cache@v3
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    # Setup Docker Buildx
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    # 3. BUILD: Build images
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build docker images
      run: docker compose -f docker-compose.test.yml build

    # 4. RUN & WAIT
    - name: Start services and wait for health
      run: docker compose -f docker-compose.test.yml up -d --wait

    # 5. TEST
    - name: Run tests
      id: run_tests
      run: docker exec -t hih_api_test npm run test

    # 6. DEBUGGING
    - name: Dump Docker logs on failure
      if: failure()
      run: docker compose -f docker-compose.test.yml logs

    # 7. CLEANUP
    - name: Clean up
      if: always()
      # FIX: Down file test
      run: docker compose -f docker-compose.test.yml down --rmi local -v --remove-orphans